@import '../assets/fonts/proximaNova.css';
@import '../constants/constants.less';

body {
    font-family: 'Proxima Nova';
    font-weight: 400;
    background-color: @background-color;
    background: @background-gradient;
}

a {
    text-decoration: none;
}
