.step{
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;

    @media(max-width:960px){
        width: 45%;
    }

    @media(max-width:480px){
        width: 80vw;   
    }
}

.step__pic{
    height: 50px;
    width: 53px;

    @media(max-width:480px){
        width: 12vw;
        height: auto;  
    }
}

.step__title{
    font-weight: 600;
}

.step__text{
    font-size: 13px;
}